ul.nav.nav-tabs.card-header-tabs {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    border: 0 !important;
    padding: 0;
    background: transparent;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.noUi-target {
    clear: both;
    float: left;
    width: 100%;
    margin: 0;
    z-index: 9999;
}

.clear {
    clear: both;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

a.nav-link.active {
    border: 1px solid grey !important;
    border-radius: 5px !important;
}

a.nav-link {
    margin-right: 10px;
}

.card-header.no-border {
    border: 0;
}

.card:hover {
    border-color: #e5e5e5;
}

img.card-img-top {
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

span.avatar.avatar-xl {
    width: 100%;
    height: 264px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.clear.disabled * {
    color: #c2c2c2;
}

svg.steps-svg {
    width: 100%;
    height: 63px;
    stroke-width: 0.7px;
    color: #787878;
}

.disabled * {
    color: #b6b6b6 !important;
    cursor: not-allowed;
}

.disabled .card-status-top.bg-green {
    display: none;
}

.row.setup .card {
    cursor: pointer;
}

.card.notifications-data * {
    font-size: 0.8rem;
}

.card.notifications-data th {
    text-transform: capitalize;
    font-weight: 500;
}

.card.notifications-data tr:hover {
    background: #f6f6f6;
}

.disabled-day,
.disabled-day .noUi-touch-area {
    color: #bebebe !important;
}

.disabled-day .noUi-handle {
    background-color: #e1e1e1 !important;
}

body .day-checkbox {
    margin-right: 0.4rem;
    margin-top: 0.15rem;
    width: 1rem;
    height: 1rem;
}

.noUi-horizontal {
    margin-left: 0.1rem;
}

.form-check-input:checked[type=checkbox] {
    background-size: 16px;
}

.card-status-top {
    background-color: rgba(var(--tblr-green-rgb));
}

.current .card-status-top {
    background-color: rgba(var(--tblr-yellow-rgb));
}

.disabled .card-status-top {
    background-color: #dfdfdf;
}

.current .status-icons .status-disabled-icon {
    display: block;
}

.status-icons > div {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.status-disabled-icon,
.disabled .status-icons .status-enabled-icon,
.current .status-icons .status-enabled-icon {
    display: none;
}

.disabled .status-icons .status-disabled-icon {
    display: block;
}

table.table.card-table.table-vcenter.datatable * {
    font-size: 0.8rem;
}

table.table.card-table.table-vcenter.datatable .table-col {
    max-width: 150px;
}

table.table.card-table.table-vcenter.datatable .table-col:hover {
    width: auto;
    white-space: initial !important;
}

body .dropzone-avatar {
    padding: 0 !important;
    border: 0 !important;
}

body .dropzone-avatar .dz-preview {
    height: 100%;
    width: 100%;
    margin: 0;
}

body .dz-preview img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

body .dropzone-avatar.dropzone .dz-preview .dz-image {
    height: auto;
    width: auto;
}

body .dropzone-avatar.dropzone .dz-message {
    margin: 0;
}

.card-more-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7rem;
    color: #525252;
}

.h1-card-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.3rem;
}

body table.table th {
    font-size: 0.8rem !important;
    font-weight: 600;
    text-transform: none;
}
a.dropdown-toggle.text-secondary {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #4b6d8b !important;
}